@import "partials/base";
@import "partials/mixins";
@import "partials/variables";

.logo-div {
  display: flex !important;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.navbar {
  display: flex;
  margin-top: 4rem;
  background-color: white !important;
  border: none !important;
  text-transform: uppercase;
  font-family: Georgia, serif;
  font-size: 1.2rem;
  letter-spacing: 0.14rem;
}

.nav li {
  margin-right: 1.5rem;
}

.banner-image-div {
  display: flex;
  justify-content: center;
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-color: white;
  border: 2px solid red;
  position: relative;
  // z-index: 1;
}

.what-we-do-description {
  height: 25rem;
  width: 85rem;
}

main h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  font-weight: 100 !important;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0px;
}

main p {
  margin-top: 1.1em;
  text-align: center;
  font-size: 1.1em;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

.down-arrow {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#background1 {
  position: relative;
  z-index: -1;
}

.about-me {
  display: flex !important;
  // justify-content: center;
  align-items: center;
  height: 80rem;
  background-color: white;
  border: 2px solid red;
  position: relative;
  // z-index: 1;

  h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

  }

  figure {
    float: right;
    padding-left: 4rem;
    padding-bottom: 4rem;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
  }
}

.about-me-div {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 18rem;
  padding-right: 18rem;
}

#about-us {
  position: relative;
  // z-index: 1;
}

#background2 {
  position: relative;
  // top: -850px;
  z-index: -1;
}

.gallery {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100rem;
  background-color: white;
  border: 2px solid red;
  position: relative;
  // z-index: 1;

  h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

#gallery-scroll {
  position: relative;
}

.gallery-div {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 13rem;
  padding-right: 13rem;
}

.cake-gallery{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: none;
  padding-left: 0;
}

.cake-gallery-top {
  margin-bottom: 3.5rem;
}

///////////////////////////////////////////////////////////////////////Overlay//////////////////////////////////////
.absolute {
  position: absolute;
}

.overlay {
  height: 350px;
  width: 250px;

  p {
    position: relative;
    top: 300px;
  }
}

.show-me {
  visibility: hidden;
}

#background3 {
  position: relative;
  // top: -850px;
  z-index: -1;
}

/*<-----------------------------------------------Quotes Carousel---------------------------------------------------------->*/

#testimonials-scroll {
  position: relative;
}

.testimonials {
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

.carousel {
  width: 1200px;
  height: 28.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  //div where paragraph lies within//
  .carousel-inner {
    width: 70%;
    height: 200px;
  }

    //This height makes sure the quotes don't jump if they aren't all 2 lines long//
    .item {
      height: 10em;
    }

    //paragraph text//
    .item p {
      padding-left: 1.18em;
      padding-right: 1.18em;
      font-family: serif;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
    }

    blockquote:before, blockquote:after {
      content:'\f10d';
      font-family:'FontAwesome';
      color: #addccc;
    }

    blockquote:after {
      content:'\f10e';
      float: right;
    }

  .carousel-control.left {
      background-image: none !important;
    }

  .carousel-control.right {
      background-image: none !important;
  }

    //arrows//
    .glyphicon {
      color: gray !important;
    }

    //indicators at bottom of carousel//
    .carousel-indicators li {
      background-color: #addccc !important;
    }
}

#contact-scroll {
  position: relative;
  // top: -850px;
  // z-index: -1;
}

.contact-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 280px;
  padding-left: 280px;
  padding-top: 50px;
  padding-bottom: 50px;

  .contact-info {
    padding-left: 20px;
  }

  .contact-image {
    border: 2px solid #addccc;
    padding: 10px;
  }

  .contact-form {
    width: 450px;
  }

  .contact-methods {
    margin-bottom: 25px;

    .method {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: bold;
    }

    .method-info {
      font-weight: 500;
      font-family: 'Open Sans', sans-serif;
    }
  }

  form {
    .form-group {
      margin-bottom: 25px;
    }

    .form-group:nth-child(6) {
      width: 200px;
    }

    p {
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
      padding-left: 15px;
    }

    .form-control {
      border-color: #addccc;
    }

    .col-xs-9 {
      width: 100% !important;
    }

    .btn-primary {
      background-color: #addccc;
      border-color: #addccc;
    }

    .btn-default {
      border-color: #addccc;
    }

    .btn:hover {
      background-color: #cdd1d6 !important;
    }
  }
}

/* Media Query */
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
